<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duang.easyecard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".GlobalData.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Activity.SigninActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.ManageBasicInfoActivity"
            android:label="@string/ManageViewBasicInfoActivity_label"
            android:theme="@style/style_titlebar_normal" />
        <activity
            android:name=".Activity.ManageTradingInquiryActivity"
            android:label="@string/ManageTradingInquiryActivity_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ManageReportLossActivity"
            android:label="@string/ManageReportLossActivity_label"
            android:theme="@style/style_titlebar_normal" />
        <activity
            android:name=".Activity.LostAndFoundInformationBrowsingActivity"
            android:label="@string/LostAndFoundInformationBrowsingActivity_label"
            android:theme="@style/style_titlebar_normal" />
        <activity
            android:name=".Activity.LostAndFoundRegistrationActivity"
            android:label="@string/LostAndFoundRegistrationActivity_label"
            android:theme="@style/style_titlebar_normal" />
    </application>

</manifest>
